main.acn
main.acr
main.alg
main.aux
main.bbl
main.bcf
main.blg
main.dvi
main.glg
main.glo
main.gls
main.ist
main.lof
main.log
main.lot
main.out
main.out.ps
main.run.xml
main.slg
main.slo
main.sls
main.synctex.gz
main.toc
content/*.aux
content/*.log
content/grundlagen/*.log
content/marktanalyse/*.log
content/app/*.log